<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon style="color: rgb(255, 255, 255);">menu</mat-icon></button>
  <h1 class="example-app-name">MyApp</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav-width" mode="side" [opened]="true">
    <mat-nav-list>
      <mat-list-item routerLink="home"> <mat-icon mat-list-icon>home</mat-icon><span>Dashboard</span> </mat-list-item>
      <mat-list-item routerLink="form"> <mat-icon mat-list-icon>insert_drive_file</mat-icon> <span>Form</span></mat-list-item>
      <mat-list-item routerLink="employee"> <mat-icon mat-list-icon>person</mat-icon><span>Employee</span> </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>