<div class="outer-container">
  <mat-card>
    <mat-card-content style="font-size: 25px;font-weight: 500;">Dashboard</mat-card-content>
  </mat-card>
  <br />
  <div fxLayout="row wrap" fxLayoutGap="2%">
    <mat-card>
      <div class="example-card">
        <h2 class="title">Total Categories</h2>
        <h1 class="title">{{categoryCount}}</h1>
        <button mat-flat-button color="primary">View Category</button>
      </div>
    </mat-card>
    <mat-card>
      <div class="example-card">
        <h2 class="title">Total Products</h2>
        <h1 class="title">{{productCount}}</h1>
        <button mat-flat-button color="primary">View Products</button>
      </div>
    </mat-card>
  </div>
</div>