<div class="outer-container">
  <mat-card fxLayout="row">
    <mat-card-content style="width: 100%;">
      <div  fxLayout="row" fxLayoutAlign="space-between center" >
      <span style="font-size: 25px;font-weight: 500;"> Manage Category</span>
    <button style="width: fit-content;" mat-flat-button color="primary" (click)="onAddCategory()">Add Category</button>
  </div>
  </mat-card-content>
  </mat-card>
  <br />
  <!-- Filter -->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon color="primary" (click)="onEditCategory(element)">edit</mat-icon> 
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  </div>