
.example-spacer {
  flex: 1 1 auto;
}

.btn {
  color: white;
  line-height: 14px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
}

.material-icons {
  color: white;
  margin-top: 4px;
  font-size: 28px;
  margin-right: 8px;
}

.banner-image {
  background-image: url('../../../../assets/bakeryshop.png');
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: #2e0808;
  width: 98.5%;
  padding: 10px;
}

.footer>h1 {
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}