<mat-toolbar color="primary">
  <button style="margin-top: -12px;" mat-icon-button >
    <span class="material-icons">storefront</span>
  </button>
  <span class="tool-head">Bakery</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="openLoginDialog()">Login</button>
  <button mat-raised-button color="primary" (click)="openSignupDialog()">Sign Up</button>
</mat-toolbar>
<!-- <router-outlet></router-outlet> -->
<div>
  <div fxLayout="column">
    <div class="banner-image"></div>
    <div class="footer">
      <h1>Copyright @2024, Designed by SUJITHA</h1>
    </div>
  </div>
</div>
